body{
    font: 15px/25px georgia;
    background-color: #a0c4f1;
    color : rgb(10, 7, 7)
}

.containerutama{
    background-color: #a0c4f1;
    width: 1300px;
    margin: 20px auto;
}

.containerutama .container1{
    text-align: center;
    width: 200px;
    margin: 20px auto 20px 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 20px;
    box-shadow: rgb(8, 8, 8) 0px 2px 8px 0px;
    float: left;
}

.container1 img{
    width: 120px;
    height: 120px;
    text-align: center;
    margin-top: 10px;
}

.container1 h4{
    color: #284a74;
}

.container1 ul li{
    display: grid;
    font-size: 15px;
    margin-top: 5px;
    margin-left: -29px;
}

.container1 a{
    text-align: left;
    text-decoration: none;
    color: rgb(24, 24, 26);
}

.container1 a:hover{
    color: #a0c4f1;
}

.container1 ul p{
    text-align: left;
    margin-left: -29px;
    margin-top: -5px;
    margin-bottom: -5px;
}

.containerutama .container2{
    margin-left: 20px;
    float:left;
    border-radius: 20px;
    background-color: #ffff;
    width: 950px;
    margin-top: 25px
}


.containerutama .container2 .tulisan{
    color: #a0c4f1;
    float: left;
    margin-top: 43px;
    margin-left: 50px;
    font-weight: 0px;
}

.containerutama .container2 .tulisan span{
    color: #84afdf;
}

.containerutama .container2 .tulisan a{
    color: #84afdf;
    text-decoration: none;
}

.containerutama .container2 .tulisan a:hover{
    color: #ffff;
    background-color: #4274b4;
    padding: 5px;
}

.containerutama .container2 img{
    margin-top: 20px;
    float: left;
    width: 380px;
    height: 280px;
    margin-left: 120px;
}

.containerutama .container2 .taskbar{
    height: 40px;
    background-color: #5b7d94;
    margin-top: -20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: left;
}

.containerutama .container2 .taskbar ul li{
    display: inline-block;
}

.containerutama .container2 .taskbar ul li span{
    margin-left: 410px;
}

.containerutama .container2 .taskbar a{
    text-decoration: none;
    color: #ffff;
    line-height: 40px;
    margin: auto 10px;
}

.containerutama .container2 .taskbar a:hover {
    color: #DEF5E5;
}

.containerutama .container2 .konten h3{
    margin-top: 350px;
    color: #424b5f;
    text-align: center;
}

.containerutama .container2 .konten p{
    text-align: justify;
    margin-left: 50px;
    margin-right: 50px;
}

.containerutama .container2 .tentang{
    margin-top: 50px;
}

.containerutama .container2 .tentang h3{
    color: #284a74;
    text-align: center;
}

.containerutama .container2 .tentang a{
    text-decoration: none;
    color: #284a74;
    margin-right: 650px;
    margin-left: 50px;
    margin-top: 30px;
}

.containerutama .container2 .tentang a:hover{
    color: #284a74;

}

.containerutama .container2 .tentang .gambar{
    margin-left: 45px;
    margin-top: 20px;
}

.containerutama .container2 .tentang .gambar img{
    margin-top: -5px;
    margin-left: 10px;
    height: 170px;
    width: 200px;
    border-radius: 20px;
}

.containerutama .container2 .tentang .labbio{
    margin-top: 220px;
}

.containerutama .container2 .tentang .labkimia{
    margin-top: 220px;
}

.footer{
    background-color: #284a74;
    height: 40px;
    margin-top: 220px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.footer .copyright{
    color: #ffff;
    text-align: center;
    line-height: 40px;
}








    