body{
    font: 15px/25px georgia;
    background-color: #a0c4f1;
    color : rgb(46, 24, 24)
}

.containerutama{
    background-color: #a0c4f1;
    width: 1300px;
    margin: 20px auto;
}

.containerutama .container1{
    text-align: center;
    width: 200px;
    margin: 20px auto 20px 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    background-color: #ffff;
    padding: 10px;
    border-radius: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    float: left;
}

.container1 img{
    width: 120px;
    height: 120px;
    text-align: center;
    margin-top: 10px;
}

.container1 h4{
    color: #284a74;
}

.container1 ul li{
    display: grid;
    font-size: 15px;
    margin-top: 5px;
    margin-left: -29px;
}

.container1 a{
    text-align: left;
    text-decoration: none;
    color: rgb(8, 8, 8);
}

.container1 a:hover{
    color: #a0c4f1;
}

.container1 ul p{
    text-align: left;
    margin-left: -29px;
    margin-top: -5px;
    margin-bottom: -5px;
}

.containerutama .container2{
    margin-left: 20px;
    float:left;
    border-radius: 20px;
    background-color: #ffff;
    width: 950px;
    margin-top: 25px;
    box-shadow: rgba(22, 22, 22, 0.2) 0px 2px 8px 0px;
}


.containerutama .container2 .tulisan{
    color: #a0c4f1;
    float: left;
    margin-top: 43px;
    margin-left: 50px;
    font-weight: 0px;
}

.containerutama .container2 .taskbar{
    height: 40px;
    background-color: #284a74;
    margin-top: -20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: left;
}

.containerutama .container2 .taskbar ul li{
    display: inline-block;
}

.containerutama .container2 .taskbar ul li span{
    margin-left: 410px;
}

.containerutama .container2 .taskbar a{
    text-decoration: none;
    color: #ffff;
    line-height: 40px;
    margin: auto 10px;
}

.containerutama .container2 .taskbar a:hover {
    color: #DEF5E5;
}

.containerutama .container2 .tentang{
    margin-top: 20px;
}

.containerutama .container2 .tentang h3{
    color: #284a74;
    text-align: center;
}

.containerutama .container2 .tentang .table{
    text-align: center;
    color: #284a74;
}

.footer{
    background-color: #284a74;
    height: 40px;
    margin-top: 40px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.footer .copyright{
    color: #ffff;
    text-align: center;
    line-height: 40px;
}

